.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
.DS_Store
R/_archive
_code/RiskLiteracyTools_now_cache
_code/RiskLiteracyTools_now_files
_stuff
test_loadingPackage.R
test_cex_private
test.pdf
mat.txt
inst/doc
testing_package_private
