.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
_gitless
data-raw
test_loadingPackage.R
test_cex_private
test.pdf
mat.txt
inst/doc
testing_package_private
dev_general_temp.R
table_object_dev.R
understandInputModel.Rmd
understandInputModel.html
riskyrApp-master
